version: '3'

name: homepage

services:
  homepage:
    container_name: homepage
    image: ghcr.io/benphelps/homepage:latest
    ports:
      - 3015:3000
    volumes:
      - /docker/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      scariff:
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.entrypoints: web
      traefik.http.routers.homepage.rule: Host(`admin.xavier2p.fr`)
